@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --blue-gradient: linear-gradient(90deg, #99BBC5 0.52%, #9DBDC6 30.57%, #9EBDC6 76.68%, #A0BEC6 100%);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

body {
    background-color: #84836A;
}

main {
    background-color: #FFF;
    border-radius: 15px;
}

.cam_page_modal {
    width: 70vw;
    height: 80vh;
    margin: 10vh auto;
}

.cam_page_modal header {
    height: 12%;
    display: flex;
    justify-content: center;
}

.container_nav {
    width: 65vw;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.content_pages {
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
    align-items: center;
}

.content_pages a {
    font-size: 24px;
    color: #90949D;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px 50px;
}

.marcado_usuarios {
    text-decoration: underline;
}

.marcado_registros {
    text-decoration: underline;
}

.marcado_home {
    text-decoration: underline;
}

.cam_page_modal img {
    height: 100%;
    margin: 0;
}

.cam_page_modal .cam_content {
    display: flex;
    height: 88%;
}

.cam_page_modal .registro_content {
    display: flex;
    justify-content: center;
}

.cam_page_modal .search {
    width: 30%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #90949D;
}

.cam_page_modal .search input {
    display: block;
    border: 1px solid #D3D4D8;
    height: 30px;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px;
    padding-right: 30px;
    color: #90949D;
    background: url(./assets/search.png) no-repeat right 0;
    background-size: 20px;
    background-position-x: 97%;
    background-position-y: 3px;
    overflow: hidden;
}

.cam_page_modal .search .list {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    height: 85%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cam_page_modal .search .object {
    font-size: 13px;
    border-bottom: 1px solid #90949D;
    width: 80%;
    margin: 0 auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.login_modal {
    width: 65vw;
    height: 80vh;
    margin: 10vh auto;
    display: flex;
    justify-content: space-between;
}

.login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
}

.login_form h1 {
    font-size: 34px;
    font-family: 'Open Sans', sans-serif;
}

.login_form span {
    color: #90949D;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

.login_form .item {
    display: flex;
    flex-direction: column;
}

.login_form label {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin: 20px 0 3px;
}

.fotoLogin {
    border-radius: 0 15px 15px 0;
}

.login_form .input__login {
    height: 35px;
    padding-left: 10px;
    border: 1px solid #D3D4D8;
    box-shadow: 1px 1px 5px 0.5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.login_form .pass-forgor {
    font-size: 11px;
    margin-left: auto;
    background-color: transparent;
    margin-top: 5px;
}

.login_form .Do-Login {
    background-color: #B6AF03;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100px;
    height: 30px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    margin: 30px auto 0;
}

.login_form .fotos_login {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-top: 50px;
}

.login_form .foto_logo_fab {
    display: flex;
    width: 229px;
    height: 100px;
}

.login_form .foto_logo {
    display: flex;
    width: 100px;
    height: 100px;
}

.table_registro {
    border-spacing: 0;
    width: 60vw;
}

.login_form .labels {
    display: flex;
    justify-content: space-between;
}

.invalidlogin {
    color: red;
    /* display: none; */
    visibility: hidden;
}

.popovercontainer {
    position: relative;
}

.popovercontainer .popover {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.popovercontainer:hover .popover {
    visibility: visible;
    opacity: 1;
}

.conteudo {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 90px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

.titulo_erro {
    font-family: 'Open Sans', sans-serif;
    height: 40px;
    margin-top: 50px;
}

.spans {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.arrumatudo {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin-top: 60px;
}

.imagemerro {
    width: 240px;
    display: flex;
}

.imagem_erro {
    display: flex;
    margin-top: 180px;
}

.arrumatudo span {
    font-family: 'Open Sans', sans-serif;
    height: 22px;
    font-weight: bold;
}

.arrumatudo h3 {
    font-family: 'Open Sans', sans-serif;
    height: 45px;
    font-weight: bold;
}

.logopequeno {
    width: 170px;
    padding-left: 0%;
}

.divlogo{
    margin-top: 50px;
    margin-left: 50px;
}